#root {
  max-width: 1280px;
  margin: 0 auto;
  
}

*{
  margin: 0px;
  padding: 0px;  
}

body{
  /* background-color: rgb(91, 93, 103); */
  width: 550px;
  height: 868px;
  background-image: linear-gradient( to bottom right, rgb(175, 224, 40), rgb(37, 200, 105), rgb(161, 215, 43), rgb(18, 248, 6));
}
.title, .job, .contact{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 30px;
text-align: center;
padding: 05px;
}
.headshot{
  width: 317px;
  border-radius: 10px 10px 0px 0px;
  
}
.info{
  border-radius: 10px 10px 0px 0px;
  width: 317px;
  color: aliceblue;
  background: #1A1B21;
  
}
.button{
  width: 247px;
  background-color: aliceblue;
  border: solid;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  
}
.footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
   width: 317px;
   height: 44px;
   left: 116px;
   top: 760px;
   color: aliceblue;
   background: #161619;
   border-radius: 0px 0px 10px 10px;
   
}
.job{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #70cd13;
}
.contact{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 10.24px;
  line-height: 150%;
  text-align: center;
  color: #F5F5F5;
}

.about{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  padding:  5px 40px;
  width: 247px;
  height: 61px;
  left: 151px;
  top: 561px;
  
}
h6{
  
  width: 242.71px;
  height: 21px;
  left: 151px;
  top: 535px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #F5F5F5;
  padding: 5px 40px;
}
.interests{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  padding:  5px 40px;
  width: 247px;
  height: 80px;
  left: 151px;
  top: 561px
}